header{
    background: url("https://upload.wikimedia.org/wikipedia/commons/6/63/Mercer_County_Courthouse_Pennsylvania_2010.jpg") no-repeat 10px 10px fixed;
}

#DIV_1 {
    margin-left: 15%;
    margin-top: 5%;
    bottom: 0px;
    height: 617px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 980px;
    perspective-origin: 490px 308.5px;
    transform-origin: 490px 308.5px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_1*/

#DIV_2 {
    bottom: 35px;
    height: 470px;
    left: 20px;
    position: absolute;
    right: 490px;
    top: 112px;
    width: 470px;
    perspective-origin: 235px 235px;
    transform-origin: 235px 235px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_2*/

#DIV_3 {
    height: 470px;
    width: 470px;
    perspective-origin: 235px 235px;
    transform-origin: 235px 235px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
    overflow: hidden;
}/*#DIV_3*/

#DIV_4 {
    bottom: 0px;
    height: 470px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 470px;
    perspective-origin: 235px 235px;
    transform-origin: 235px 235px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
    overflow: hidden;
}/*#DIV_4*/

#DIV_5 {
    width: 470px;
    perspective-origin: 235px 0px;
    transform-origin: 235px 0px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_5*/

#IMG_6 {
    height: 470px;
    object-fit: cover;
    width: 470px;
    perspective-origin: 235px 235px;
    transform-origin: 235px 235px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}/*#IMG_6*/

#DIV_7 {
    bottom: 36px;
    height: 469px;
    left: 490px;
    position: absolute;
    right: 0px;
    top: 112px;
    width: 490px;
    perspective-origin: 245px 234.5px;
    transform-origin: 245px 234.5px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_7*/

#DIV_8 {
    bottom: 0px;
    height: 469px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 490px;
    perspective-origin: 245px 234.5px;
    transform-origin: 245px 234.5px;
    background: rgb(241, 241, 241) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_8*/

#DIV_9 {
    bottom: 0px;
    height: 469px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 490px;
    perspective-origin: 245px 234.5px;
    transform-origin: 245px 234.5px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_9*/

#DIV_10 {
    bottom: 36px;
    height: 408px;
    left: 7px;
    overflow-wrap: break-word;
    position: absolute;
    right: 28px;
    top: 25px;
    width: 455px;
    word-wrap: break-word;
    perspective-origin: 227.5px 204px;
    transform-origin: 227.5px 204px;
    font: normal normal normal normal 10px / normal Arial, Helvetica, sans-serif;
}/*#DIV_10*/

#H4_11 {
    color: rgb(24, 33, 83);
    height: 45px;
    overflow-wrap: break-word;
    width: 455px;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    perspective-origin: 227.5px 22.5px;
    transform-origin: 227.5px 22.5px;
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 30px / 45px avenir-lt-w01_35-light1475496, sans-serif;
    margin: 0px;
    outline: rgb(24, 33, 83) none 0px;
}/*#H4_11*/

#SPAN_12 {
    color: rgb(24, 33, 83);
    overflow-wrap: break-word;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 30px / 45px avenir-lt-w01_35-light1475496, sans-serif;
    outline: rgb(24, 33, 83) none 0px;
}/*#SPAN_12*/

#P_13, #P_15 {
    color: rgb(24, 33, 83);
    height: 28px;
    overflow-wrap: break-word;
    width: 455px;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    perspective-origin: 227.5px 14px;
    transform-origin: 227.5px 14px;
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 19px / 28.5px avenir-lt-w01_35-light1475496, sans-serif;
    margin: 0px;
    outline: rgb(24, 33, 83) none 0px;
}/*#P_13, #P_15*/

#SPAN_14, #SPAN_16 {
    color: rgb(24, 33, 83);
    overflow-wrap: break-word;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 19px / 28.5px avenir-lt-w01_35-light1475496, sans-serif;
    outline: rgb(24, 33, 83) none 0px;
}/*#SPAN_14, #SPAN_16*/

#P_17 {
    color: rgb(24, 33, 83);
    height: 23px;
    overflow-wrap: break-word;
    width: 455px;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    perspective-origin: 227.5px 11.5px;
    transform-origin: 227.5px 11.5px;
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 19px / normal avenir-lt-w01_35-light1475496, sans-serif;
    margin: 0px;
    outline: rgb(24, 33, 83) none 0px;
}/*#P_17*/

#SPAN_18 {
    color: rgb(24, 33, 83);
    overflow-wrap: break-word;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 19px / normal avenir-lt-w01_35-light1475496, sans-serif;
    outline: rgb(24, 33, 83) none 0px;
}/*#SPAN_18*/

#UL_19 {
    color: rgb(24, 33, 83);
    height: 266px;
    overflow-wrap: break-word;
    width: 429.813px;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    perspective-origin: 224px 133px;
    transform-origin: 224px 133px;
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 14px / normal avenir-lt-w01_85-heavy1475544, sans-serif;
    margin: 0px 0px 0px 7px;
    outline: rgb(24, 33, 83) none 0px;
    padding: 0px 0px 0px 18.2px;
}/*#UL_19*/

#LI_20, #LI_23, #LI_31, #LI_36, #LI_41 {
    color: rgb(24, 33, 83);
    height: 38px;
    overflow-wrap: break-word;
    width: 429.813px;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    perspective-origin: 214.906px 19px;
    transform-origin: 214.906px 19px;
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 14px / normal avenir-lt-w01_85-heavy1475544, sans-serif;
    outline: rgb(24, 33, 83) none 0px;
}/*#LI_20, #LI_23, #LI_31, #LI_36, #LI_41*/

#H6_21, #H6_24, #H6_32, #H6_37, #H6_42 {
    color: rgb(24, 33, 83);
    height: 38px;
    overflow-wrap: break-word;
    text-align: left;
    width: 429.813px;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    perspective-origin: 214.906px 19px;
    transform-origin: 214.906px 19px;
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 19px / 38px avenir-lt-w01_85-heavy1475544, sans-serif;
    margin: 0px;
    outline: rgb(24, 33, 83) none 0px;
}/*#H6_21, #H6_24, #H6_32, #H6_37, #H6_42*/

#SPAN_22, #SPAN_25, #SPAN_28, #SPAN_33, #SPAN_38, #SPAN_43 {
    color: rgb(24, 33, 83);
    overflow-wrap: break-word;
    text-align: left;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 19px / 38px avenir-lt-w01_85-heavy1475544, sans-serif;
    outline: rgb(24, 33, 83) none 0px;
}/*#SPAN_22, #SPAN_25, #SPAN_28, #SPAN_33, #SPAN_38, #SPAN_43*/

#LI_26 {
    color: rgb(24, 33, 83);
    height: 76px;
    overflow-wrap: break-word;
    width: 429.813px;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    perspective-origin: 214.906px 38px;
    transform-origin: 214.906px 38px;
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 14px / normal avenir-lt-w01_85-heavy1475544, sans-serif;
    outline: rgb(24, 33, 83) none 0px;
}/*#LI_26*/

#H6_27 {
    color: rgb(24, 33, 83);
    height: 76px;
    overflow-wrap: break-word;
    text-align: left;
    width: 429.813px;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    perspective-origin: 214.906px 38px;
    transform-origin: 214.906px 38px;
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 19px / 38px avenir-lt-w01_85-heavy1475544, sans-serif;
    margin: 0px;
    outline: rgb(24, 33, 83) none 0px;
}/*#H6_27*/

#SPAN_29, #SPAN_34, #SPAN_39, #SPAN_44 {
    color: rgb(24, 33, 83);
    overflow-wrap: break-word;
    text-align: left;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 19px / 38px avenir-lt-w01_85-heavy1475544, sans-serif;
    outline: rgb(24, 33, 83) none 0px;
}/*#SPAN_29, #SPAN_34, #SPAN_39, #SPAN_44*/

#SPAN_30, #SPAN_35, #SPAN_45 {
    color: rgb(24, 33, 83);
    letter-spacing: 0.95px;
    overflow-wrap: break-word;
    text-align: left;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 19px / 38px avenir-lt-w01_85-heavy1475544, sans-serif;
    outline: rgb(24, 33, 83) none 0px;
}/*#SPAN_30, #SPAN_35, #SPAN_45*/

#SPAN_40 {
    color: rgb(24, 33, 83);
    letter-spacing: 0.95px;
    overflow-wrap: break-word;
    text-align: left;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 19px / 38px avenir-lt-w01_85-heavy1475544, sans-serif;
    outline: rgb(24, 33, 83) none 0px;
}/*#SPAN_40*/

#H6_46 {
    color: rgb(24, 33, 83);
    height: 18px;
    overflow-wrap: break-word;
    width: 455px;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    perspective-origin: 227.5px 9px;
    transform-origin: 227.5px 9px;
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 14px / 18.2px avenir-lt-w01_85-heavy1475544, sans-serif;
    margin: 0px;
    outline: rgb(24, 33, 83) none 0px;
}/*#H6_46*/

#SPAN_47 {
    color: rgb(24, 33, 83);
    overflow-wrap: break-word;
    word-wrap: break-word;
    column-rule-color: rgb(24, 33, 83);
    border: 0px none rgb(24, 33, 83);
    font: normal normal normal normal 14px / 18.2px avenir-lt-w01_85-heavy1475544, sans-serif;
    outline: rgb(24, 33, 83) none 0px;
}/*#SPAN_47*/

