<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mark Atterholt</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    <link href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/78060/animate.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/donation.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css" type="text/css" />
</head>

<body>
    <section id="details">
        <div class="contact-info">
            <form class="clearfix">
                <div class="input-group-2">
                    <label>First Name*</label>
                    <input type="text" id="firstName" tabindex="1">
                </div>
                <div class="input-group-2">
                    <label>Last Name*</label>
                    <input type="text" id="lastName" tabindex="2">
                </div>
                <div class="input-group-1">
                    <label>Email Address*</label>
                    <input type="text" id="email" tabindex="3">
                </div>
                <hr>
                <div class="input-group-1">
                    <label>Street Address*</label>
                    <input type="text" id="street" tabindex="4">
                </div>
                <div class="input-group-3">
                    <label>City*</label>
                    <input type="text" id="city" tabindex="5">
                </div>
                <div class="input-group-3">
                    <label>State*</label>
                    <input type="text" id="state" tabindex="6">
                </div>
                <div class="input-group-3">
                    <label>Zip Code*</label>
                    <input type="text" id="zipcode" tabindex="7">
                </div>
                <div class="input-group-1">
                    <label>Occupation*</label>
                    <input type="text" id="occupation" tabindex="8">
                </div>
            </form>
            <div class="clearfix">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="PY5XEJTUVRNCA">
                    <button name="submit" class="next">Donate</button>
                </form>
                <label>* These fields are required.</label>
            </div>
        </div>
    </section>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>
<script type="text/javascript" src="../js/donation.js"></script>

</html>
