<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Mark Atterholt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/magnific-popup.css" type="text/css">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css" type="text/css" />
</head>

<script>
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        console.log(obj);
    }
</script>


<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Magnific Popup core JS file -->
<script src="../js/jquery.magnific-popup.js"></script>

<body id="top">

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-offset">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
                <a class="navbar-brand" href="#top" style="color:white">Mark Atterholt</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#aboutmark" style="color:white">About Mark</a></li>
                    <li><a href="#photogallery" style="color:white">Photo Gallery</a></li>
                    <li><a href="#upcomingevents" style="color:white">Events</a></li>
                    <li><a href="#contactme" style="color:white">Contact Us</a></li>
                    <li><a href="#donate" style="color:white">Donate</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- First Container -->
    
    <div class="container-fluid bg-1 text-center dad-background" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="container">
            
            <div class="row" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="2000">

                <div class="col-sm-4">
                </div>

                <div class="col-sm-4">

                    <div class="panel panel-default panel-front">

                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a HREF="#"><img class="img-dad" src="https://scontent.fphl2-2.fna.fbcdn.net/v/t1.0-9/16002984_1516159075068643_397526033328307944_n.jpg?oh=92a76d8a4d505b068ccc3350af878eb1&oe=59FFF033"></a>
                            </h4>

                        </div>

                        <div class="panel-body">
                            <h2>Mark Atterholt</h2>

                            <h3>Candidate for Magisterial District Judge</h3>
                            <p>Farrell, Hermitage, Shenango Township</p>
                            <p>West Middlesex and Wheatland </p>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4">
                </div>

            </div>

        </div>
    </div>

    <!-- Second Container -->
    
    <div class="container-fluid bg-2 text-center" id="aboutmark" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <h1 class="margin">About Mark</h1>

        <!--<h2>Family</h2>-->
        <!--<p> Mark is a very proud husband and father. He and his wife, Roxanne, have been married for 22 years. Roxanne is a faculty member at Penn State University at the Shenango Campus. They have raised their three children in the West Middlesex Area School-->
        <!--    District and are honored to be members of this close knit and hard-working community. Mark’s three children; Riley, Morgan and Luke have thrived academically and athletically with their God given talents and hard work. The good fortune of-->
        <!--    having dedicated teachers and coaches has most certainly helped them accomplish wonderful things. Riley and Morgan are currently attending Penn State University while Luke is a West Middlesex High School student. Mark is the son of Lois and-->
        <!--    the late, Bob Atterholt. He is a graduate of Reynolds High School where he excelled in the classroom as well as on the field. This combination afforded Mark the opportunity to attend the University of Pennsylvania and compete in Division I-->
        <!--    intercollegiate athletics. Mark later chose to continue his education at Temple University, where he graduated with a Bachelor’s Degree in Business Administration. Mark and his family have been members of New Life Baptist Church, in New Wilmington-->
        <!--    for 18 years. Mark has been active with his church family and was honored to have served as a Deacon. Riley, Morgan and Luke have participated in missions trips and their family has hosted multiple international children through the World-->
        <!--    Help Organization. Mark has also served his community by coaching several youth basketball and baseball teams as well as serving on the West Middlesex Midget Football Board of Directors. For six years and prior to its recent sale in order-->
        <!--    to campaign for District Judge, Mark was the owner of a successful family-run small business in West Middlesex. This business experience will serve him well when overseeing the day to day operations of a District Court.-->

        <!--</p>-->

        <!--<h2>Work Experience and Certification</h2>-->


        <!--<p>Mark has 20 years of Criminal Justice experience and is certified to hold the office. He has been employed within the Intermediate Punishment Office of the Mercer County Courthouse since 1998 as the Pretrial/TASC Supervisor. TASC (Treatment Accountabilities-->
        <!--    for Safer Communities) is a program available to all levels of the judicial system providing a link for court supervision and treatment. In this role, Mark works directly with all five of the Magisterial District Courts as well as the four-->
        <!--    Common Pleas Courts in Mercer County. Mark reviews all commitments to the county jail and based upon established criteria, investigates and interviews eligible inmates and schedules bail review hearings before a Common Pleas Judge. Additionally,-->
        <!--    Mark supervises Court ordered defendants through the TASC program which offers a means for both Common Pleas Judges and District Judges to maintain a level of supervision over defendant’s conditions without incarcerating them. These bond conditions-->
        <!--    often include; drug testing, drug & alcohol and/or mental treatment, house arrest and office check-ins. Mark has always been one to seek out opportunities to expand his role within his department which has led to other job responsibilities-->
        <!--    throughout his career. He was part of a team that sought out and received grant funding to operate a Day Reporting Program in which he served as the Day Reporting Supervisor during the grant period. Approximately three years ago, Mark was-->
        <!--    chosen to coordinate a new Domestic Violence Intervention Program. This program targets perpetrators of domestic violence which accepts referrals from multiple sources. Around this same time, he volunteered to be part of the new Veterans Court-->
        <!--    Program spearheaded by the Honorable John C. Reed, Senior Judge. Mark is extremely proud to be a part of the Veterans Court Team that honors the service of men and women who have found themselves involved with the criminal justice system.-->
        <!--    A variety of Court and rehabilitative professionals work together to hold these Veterans accountable to Court obligations while supporting them to address addiction and mental health needs. Mark is a member of the Mercer County Criminal Justice-->
        <!--    Advisory Board (CJAB). This professional group brings dozens of criminal justice stakeholders and ancillary systems together to take a systemic and policy level perspective towards the broad range of issues facing Mercer County. Mark has been-->
        <!--    a certified CRN evaluator (Court Reporting Network) for 19 years. A CRN report is a state mandated assessment tool performed in conjunction with drug and alcohol assessments for all DUI arrests in Pennsylvania. To serve as a Magisterial District-->
        <!--    Judge in Pennsylvania, one must complete rigorous coursework and pass a certification exam or be a member of the Bar Association. Mark successfully completed the class and passed the examination which fully qualifies him to serve as a Magisterial-->
        <!--    District Judge in Pennsylvania. Mark did this to demonstrate his desire and ability to serve as your next District Judge.-->

        <!--</p>-->

        <!--<h2>Mark's Vision</h2>-->

        <!--<p>Through my 20 years of experience in the criminal justice system and prior 7 years of working with at-risk youth, I am the best candidate to serve our judicial district. I have seen and worked with all levels of criminal defendants and delinquent-->
        <!--    youth throughout Mercer County. Furthermore, I understand the issues our communities, families and court systems are facing. I know the many resources available to effectively address the crime, drugs, alcohol, unemployment and truancy issues-->
        <!--    that can harm communities. I will use the relationships I have developed with law enforcement, treatment providers, civic leaders and school districts during my career to effectively address these issues. I will welcome and foster new relationships-->
        <!--    with those that will join me in this task. The District Courts are usually the first, and often the only involvement with the judicial system that most people will ever have. As your next District Judge, I will serve you and the judicial system-->
        <!--    with fairness, impartiality and independence.-->
        <!--</p>-->

        <!-- Page Content -->
        <!--<div class="container">-->

        <!--    <hr class="featurette-divider">-->

        <!--     First Featurette -->
        <!--    <div class="featurette" id="about">-->
        <!--        <img class="featurette-image img-responsive pull-right" src="https://blackrockdigital.github.io/startbootstrap-landing-page/img/ipad.png">-->
        <!--        <h2 class="featurette-heading">Family-->
        <!--            <span class="text-muted">Will Catch Your Eye</span>-->
        <!--        </h2>-->
        <!--        <p class="lead">Mark is a very proud husband and father. He and his wife, Roxanne, have been married for 22 years. Roxanne is a faculty member at Penn State University at the Shenango Campus. They have raised their three children in the West Middlesex Area School-->
        <!--    District and are honored to be members of this close knit and hard-working community. Mark’s three children; Riley, Morgan and Luke have thrived academically and athletically with their God given talents and hard work. The good fortune of-->
        <!--    having dedicated teachers and coaches has most certainly helped them accomplish wonderful things. Riley and Morgan are currently attending Penn State University while Luke is a West Middlesex High School student. Mark is the son of Lois and-->
        <!--    the late, Bob Atterholt.</p>-->
        <!--    <p class="lead"> He is a graduate of Reynolds High School where he excelled in the classroom as well as on the field. This combination afforded Mark the opportunity to attend the University of Pennsylvania and compete in Division I-->
        <!--    intercollegiate athletics. Mark later chose to continue his education at Temple University, where he graduated with a Bachelor’s Degree in Business Administration. Mark and his family have been members of New Life Baptist Church, in New Wilmington-->
        <!--    for 18 years. Mark has been active with his church family and was honored to have served as a Deacon. Riley, Morgan and Luke have participated in missions trips and their family has hosted multiple international children through the World-->
        <!--    Help Organization. Mark has also served his community by coaching several youth basketball and baseball teams as well as serving on the West Middlesex Midget Football Board of Directors. For six years and prior to its recent sale in order-->
        <!--    to campaign for District Judge, Mark was the owner of a successful family-run small business in West Middlesex. This business experience will serve him well when overseeing the day to day operations of a District Court.</p>-->
        <!--    </div>-->

        <!--    <hr class="featurette-divider">-->

        <!--     Second Featurette -->
        <!--    <div class="featurette" id="services">-->
        <!--        <img class="featurette-image img-responsive pull-left" src="https://blackrockdigital.github.io/startbootstrap-landing-page/img/ipad.png">-->
        <!--        <h2 class="featurette-heading">The Second Heading-->
        <!--            <span class="text-muted">Is Pretty Cool Too.</span>-->
        <!--        </h2>-->
        <!--        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
        <!--    </div>-->

        <!--    <hr class="featurette-divider">-->

        <!--     Third Featurette -->
        <!--    <div class="featurette" id="contact">-->
        <!--        <img class="featurette-image img-responsive pull-right" src="https://blackrockdigital.github.io/startbootstrap-landing-page/img/ipad.png">-->
        <!--        <h2 class="featurette-heading">The Third Heading-->
        <!--            <span class="text-muted">Will Seal the Deal.</span>-->
        <!--        </h2>-->
        <!--        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->
        <!--    </div>-->
        </div>


        <!-- Third Container (Grid) -->
        <div class="container-fluid bg-3 text-center" id="photogallery">
            <h1 class="margin">Photo Gallery</h1><br>
            <div class="container" style="margin-top:10px;">
                <div class="row form-group">
                    <div class="col-xs-12 col-md-6" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                        <div class="panel panel-default">
                            <a class="group-photo-link-1" href="../static/images/Christmas.jpg">
                                <div class="panel-image">
                                    <img src="../static/images/Christmas.jpg" class="panel-image-preview" />
                                    <label for="toggle-1" class="photogallery-image"></label>
                                </div>
                            </a>
                            <div class="panel-body">
                                <h4>Mark and his family celebrating Christmas together </h4>
                            </div>

                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-6" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                        <div class="panel panel-default">
                            <a class="group-photo-link-2" href="../static/images/family.jpg">
                                <div class="panel-image hide-panel-body">
                                    <img src="../static/images/family.jpg" class="panel-image-preview" />
                                    <label for="toggle-2" class="photogallery-image"></label>
                                </div>
                            </a>
                            <div class="panel-body">
                                <h4>Mark's mom, Lois, and his son, Luke, enjoying a delicious St. Anthony's fish dinner</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    
                    <div class="col-xs-12 col-md-6" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            </div>
                            <a class="group-photo-link-3" href="../static/images/beginning.jpg">
                                <div class="panel-image hide-panel-body">
                                    <img src="../static/images/beginning.jpg" class="panel-image-preview" />
                                    <label for="toggle-3" class="photogallery-image"></label>
                                </div>
                            </a>
                            <div class="panel-body">
                                <h4>Mark's kick off campaign photo</h4>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-6" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                        <div class="panel panel-default">
                            <a class="group-photo-link-4" href="../static/images/ClearGroupPhoto.jpg">
                                <div class="panel-image">
                                    <img src="../static/images/ClearGroupPhoto.jpg" class="panel-image-preview" />
                                    <label for="toggle-4" class="photogallery-image"></label>
                                </div>
                            </a>
                            <div class="panel-body">
                                <h4>A great steak-fry turnout!</h4>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row form-group">
                    
                    <div class="col-xs-12 col-md-6" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                        <div class="panel panel-default">
                            <a class="group-photo-link-5" href="../static/images/children.jpeg">
                                <div class="panel-image hide-panel-body">
                                    <img src="../static/images/children.jpeg" class="panel-image-preview" />
                                    <label for="toggle-3" class="photogallery-image"></label>
                                </div>
                            </a>
                            <div class="panel-body">
                                <h4>Mark and his family had the great joy of hosting these three young men through Children of the World</h4>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-6" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                        <div class="panel panel-default">
                            <a class="group-photo-link-6" href="../static/images/sign.jpg">
                                <div class="panel-image">
                                    <img src="../static/images/sign.jpg" class="panel-image-preview" />
                                    <label for="toggle-4" class="photogallery-image"></label>
                                </div>
                            </a>
                            <div class="panel-body">
                                <h4>Mark and Roxanne on kick-off day</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    
                    <div class="col-xs-12 col-md-6" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                        <div class="panel panel-default">

                            <a class="group-photo-link-7" href="../static/images/soup.jpg">
                                <div class="panel-image hide-panel-body">
                                    <img src="../static/images/soup.jpg" class="panel-image-preview" />
                                    <label for="toggle-3" class="photogallery-image"></label>
                                </div>
                            </a>
                            <div class="panel-body">
                                <h4>Mark enjoying the West Middlesex Band Soup Fest with Marie and Jen</h4>
                            </div>

                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-6" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                        <div class="panel panel-default">
                            <a class="group-photo-link-8" href="../static/images/dave.jpg">
                                <div class="panel-image">
                                    <img src="../static/images/dave.jpg" class="panel-image-preview" />
                                    <label for="toggle-4" class="photogallery-image"></label>
                                </div>
                            </a>
                            <div class="panel-body">
                                <h4>Mark, Dave, and Ron at the Shenango Valley Business Expo</h4>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="row form-group">
                    
                    <div class="col-xs-12 col-md-6" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                        <div class="panel panel-default">

                            <a class="group-photo-link-9" href="../static/images/Easter egg hunt.jpg">
                                <div class="panel-image hide-panel-body">
                                    <img src="../static/images/Easter egg hunt.jpg" class="panel-image-preview" />
                                    <label for="toggle-3" class="photogallery-image"></label>
                                </div>
                            </a>
                            <div class="panel-body">
                                <h4>No Easter eggs for Mark but he enjoyed meeting residents at the annual Shenango Township Easter Egg Hunt</h4>
                            </div>

                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-6" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                        <div class="panel panel-default">
                            <a class="group-photo-link-10" href="../static/images/Lincoln Day Dinner 3.JPG">
                                <div class="panel-image">
                                    <img src="../static/images/Lincoln Day Dinner 3.JPG" class="panel-image-preview" />
                                    <label for="toggle-4" class="photogallery-image"></label>
                                </div>
                            </a>
                            <div class="panel-body">
                                <h4>Mark and Reverend Bruce Richael at the Lincoln Day Dinner</h4>
                            </div>

                        </div>
                    </div>


                </div>

                <div class="row form-group">
                    
                    <div class="col-xs-12 col-md-6" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                        <div class="panel panel-default">

                            <a class="group-photo-link-11" href="../static/images/Veterans.jpg">
                                <div class="panel-image hide-panel-body">
                                    <img src="../static/images/Veterans.jpg" class="panel-image-preview" />
                                    <label for="toggle-3" class="photogallery-image"></label>
                                </div>
                            </a>
                            <div class="panel-body">
                                <h4>Proud Veterans, Frank Zelinsky and Tom Flynn join Mark at our steak fry</h4>
                            </div>

                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-6" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                        <div class="panel panel-default">
                            <a class="group-photo-link-12" href="../static/images/Penn State Athletics.jpg">
                                <div class="panel-image">
                                    <img src="../static/images/Penn State Athletics.jpg" class="panel-image-preview" />
                                    <label for="toggle-4" class="photogallery-image"></label>
                                </div>
                            </a>
                            <div class="panel-body">
                                <h4>Good luck to Coach Andre Smith as he brings intercollegiate atletics back to PSU Shenango</h4>
                            </div>

                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-6" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                        <div class="panel panel-default">
                            <a class="group-photo-link-13" href="../static/images/Mark.jpg">
                                <div class="panel-image">
                                    <img src="../static/images/Mark.jpg" class="panel-image-preview" />
                                    <label for="toggle-4" class="photogallery-image"></label>
                                </div>
                            </a>
                            <div class="panel-body">
                                <h4>Mark had the pleasure of watching Mark Benedetto's induction into the Mercer County Hall of Fame</h4>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- Third Container (Grid) -->
        <!--https://bootsnipp.com/snippets/featured/event-list-->
        <!--https://bootsnipp.com/snippets/featured/agenda-->
        <!--data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000"-->
        <!--data-aos="fade-in"-->
        <div class="container-fluid bg-2 text-center" id="upcomingevents">
            <h1 class="margin upcomingevents-header">Events</h1><br>
            <div class="container">
                <div class="row">
                    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                        <ul class="event-list">
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!--data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000"-->
        <div class="container-fluid bg-3 text-center" id="contactme" >
            <!--data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000"-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1>Contact Us</h1>

                        <p class="lead">We would welcome your feedback and offers of support in any way- which could include hosting a yard sign, hosting a meet and greet, poll workers, or door knocking!</p>
                        <p>atterholtfordistrictjudge@gmail.com</p>
                        <p>(724) 301-7045</p>
                        <form id="contact-form">
                            <div class="messages"></div>
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_name">Firstname *</label>
                                            <input id="form_firstname" type="text" name="name" class="form-control" placeholder="Please enter your firstname *">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_lastname">Lastname *</label>
                                            <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_email">Email *</label>
                                            <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_phone">Phone</label>
                                            <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form_message">Message *</label>
                                            <textarea id="form_message" name="message" class="form-control" placeholder="Message*" rows="4"></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-success btn-send submit-btn" value="Send message">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-muted"><strong>*</strong> These fields are required. </p>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                    <!-- /.8 -->

                </div>
                <!-- /.row-->

            </div>
            <!-- /.container-->

        </div>

        <!--data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="2000"-->
        <div class="container-fluid bg-2 text-center" id="donate" >
            <div class="container">
                <div class="row">
                    <div class="headingWrap">
                        <h1 class="headingTop text-center">Select Your Donation Method</h1>
                        <p class="text-center">Your donation is very much appreciated!</p>
                    </div>
                    <!--   <div class="paymentCont">-->
                    <!--       <div class="headingWrap">-->
                    <!--           <h1 class="headingTop text-center">Select Your Donation Method</h1>-->
                    <!--           <p class="text-center">Your donation is very much appreciated!</p>-->
                    <!--       </div>-->
                    <!--       <div class="paymentWrap">-->
                    <!--           <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">-->
                    <!--               <label class="btn paymentMethod">-->
                    <!--    	<div class="method visa"></div>-->
                    <!--        <input type="radio" name="options" checked> -->
                    <!--</label>-->
                    <!--               <label class="btn paymentMethod">-->
                    <!--    	<div class="method master-card"></div>-->
                    <!--        <input type="radio" name="options"> -->
                    <!--    </label>-->
                    <!--               <label class="btn paymentMethod">-->
                    <!--   		<div class="method amex"></div>-->
                    <!--        <input type="radio" name="options">-->
                    <!--    </label>-->
                    <!--               <label class="btn paymentMethod">-->
                    <!--    		<div class="method vishwa"></div>-->
                    <!--        <input type="radio" name="options"> -->
                    <!--    </label>-->
                    <!--               <label class="btn paymentMethod">-->
                    <!--    		<div class="method paypal"></div>-->
                    <!--        <input type="radio" name="options"> -->
                    <!--    </label>-->
                    <!--           </div>-->
                    <!--       </div>-->
                    <!--   </div>-->
                    <iframe src="/donation" frameborder="0" scrolling="no" onload="resizeIframe(this)" id="donation-form" width="100%"></iframe>
                    <!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">-->
                    <!--    <input type="hidden" name="cmd" value="_s-xclick">-->
                    <!--    <input type="hidden" name="hosted_button_id" value="PY5XEJTUVRNCA">-->
                    <!--    <input type="image" src="https://www.sketchappsources.com/resources/source-image/PayPalCard.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
                    <!--    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">-->
                    <!--</form>-->
                </div>
            </div>

        </div>

        <!-- Footer -->
        <!--data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000"-->
        <footer class="container-fluid bg-4 text-center">
            <p>This site was approved and paid for by Atterholt for District Judge</p>
            <p>Site developed by <a href="http://hozaifaabdalla.com/" target="_blank">Hozaifa Abdalla</a> and Morgan Atterholt</p>
        </footer>
        <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>
        <script type="text/javascript" src="../js/morgi.js"></script>
</body>

</html>
