<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Mark Atterholt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/magnific-popup.css" type="text/css">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
</head>



<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Magnific Popup core JS file -->
<script src="../js/jquery.magnific-popup.js"></script>

<body id="top">

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-offset">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
                <a class="navbar-brand" href="#top" style="color:white">Mark Atterholt</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#aboutmark" style="color:white">About Mark</a></li>
                    <li><a href="#photogallery" style="color:white">Photo Gallery</a></li>
                    <li><a href="#upcomingevents" style="color:white">Upcoming Events</a></li>
                    <li><a href="#contactme" style="color:white">Contact Us</a></li>
                    <li><a href="#donate" style="color:white">Donate</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- First Container -->

    <div class="container-fluid bg-1 text-center dad-background" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">>
        <div class="container">

            <div class="row" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="2000">

                <div class="col-sm-4">
                </div>

                <div class="col-sm-4">

                    <div class="panel panel-default panel-front">

                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a HREF="#"><img class="img-dad" src="https://scontent.fphl2-2.fna.fbcdn.net/v/t1.0-9/16002984_1516159075068643_397526033328307944_n.jpg?oh=92a76d8a4d505b068ccc3350af878eb1&oe=59FFF033"></a>
                            </h4>

                        </div>

                        <div class="panel-body">
                            <h4>Mark Atterholt</h4>

                            <p>Yeah, I like animals better than people sometimes... Especially dogs. Dogs are the best. Every time you come home, they act like they haven't seen you in a year.</p>

                            <div class="text-right">
                                <a href="#" class="btn btn-info btn-sm" role="button">Call Your Boy OG</a>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-sm-4">
                </div>

            </div>

        </div>
    </div>

    <!-- Second Container -->
    
    <div class="container-fluid bg-2 text-center" id="aboutmark" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <h1 class="margin">About Mark</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

    </div>


    <!-- Third Container (Grid) -->
    <!--data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"-->
    <div class="container-fluid bg-3 text-center" id="photogallery">
        <h1 class="margin">Photo Gallery</h1><br>
        <div class="container" style="margin-top:10px;">
            <div class="row form-group">
                
                <div class="col-xs-12 col-md-6" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">You can even have a Panel Title</h3>
                        </div>
                        <a class="group-photo-link-1" href="../static/images/dave.jpg">
                            <div class="panel-image">
                                <img src="../static/images/dave.jpg" class="panel-image-preview" />
                                <label for="toggle-1"></label>
                            </div>
                        </a>
                        <div class="panel-body">
                            <h4>Title of Image</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                        </div>
                        <div class="panel-footer text-center">
                            DOPE
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-md-6" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">You can even have a Panel Title</h3>
                        </div>
                        <a class="group-photo-link-2" href="../static/images/family.jpg">
                            <div class="panel-image hide-panel-body">
                                <img src="../static/images/family.jpg" class="panel-image-preview" />
                                <label for="toggle-2"></label>
                            </div>
                        </a>
                        <div class="panel-body">
                            <h4>Title of Image</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                        </div>
                        <div class="panel-footer text-center">
                            SWAG
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-xs-12 col-md-6" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">You can even have a Panel Title</h3>
                        </div>
                        <a class="group-photo-link-3" href="../static/images/beginning.jpg">
                            <div class="panel-image hide-panel-body">
                                <img src="../static/images/beginning.jpg" class="panel-image-preview" />
                                <label for="toggle-3"></label>
                            </div>
                        </a>
                        <div class="panel-body">
                            <h4>Title of Image</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                        </div>
                        <div class="panel-footer text-center">
                            OG
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-md-6" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">You can even have a Panel Title</h3>
                        </div>
                        <a class="group-photo-link-4" href="../static/images/ClearGroupPhoto.jpg">
                            <div class="panel-image">
                                <img src="../static/images/ClearGroupPhoto.jpg" class="panel-image-preview" />
                                <label for="toggle-4"></label>
                            </div>
                        </a>
                        <div class="panel-body">
                            <h4>Show the Description by default!</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                        </div>
                        <div class="panel-footer text-center">
                            CAN'T TOUCH THIS
                        </div>
                    </div>
                </div>
            </div>


            <div class="row form-group">
                
                <div class="col-xs-12 col-md-6" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">You can even have a Panel Title</h3>
                        </div>
                        <a class="group-photo-link-5" href="../static/images/group.jpg">
                            <div class="panel-image hide-panel-body">
                                <img src="../static/images/group.jpg" class="panel-image-preview" />
                                <label for="toggle-3"></label>
                            </div>
                        </a>
                        <div class="panel-body">
                            <h4>Title of Image</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                        </div>
                        <div class="panel-footer text-center">
                            OG
                        </div>
                    </div>
                </div>
            
                <div class="col-xs-12 col-md-6" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">You can even have a Panel Title</h3>
                        </div>
                        <a class="group-photo-link-6" href="../static/images/sign.jpg">
                            <div class="panel-image">
                                <img src="../static/images/sign.jpg" class="panel-image-preview" />
                                <label for="toggle-4"></label>
                            </div>
                        </a>
                        <div class="panel-body">
                            <h4>Show the Description by default!</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                        </div>
                        <div class="panel-footer text-center">
                            CAN'T TOUCH THIS
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                
                <div class="col-xs-12 col-md-6" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">You can even have a Panel Title</h3>
                        </div>
                        <a class="group-photo-link-7" href="../static/images/soup.jpg">
                            <div class="panel-image hide-panel-body">
                                <img src="../static/images/soup.jpg" class="panel-image-preview" />
                                <label for="toggle-3"></label>
                            </div>
                        </a>
                        <div class="panel-body">
                            <h4>Title of Image</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                        </div>
                        <div class="panel-footer text-center">
                            OG
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-md-6" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">You can even have a Panel Title</h3>
                        </div>
                        <a class="group-photo-link-7" href="../static/images/mercer.jpeg">
                            <div class="panel-image">
                                <img src="../static/images/mercer.jpeg" class="panel-image-preview" />
                                <label for="toggle-4"></label>
                            </div>
                        </a>
                        <div class="panel-body">
                            <h4>Show the Description by default!</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper et.</p>
                        </div>
                        <div class="panel-footer text-center">
                            CAN'T TOUCH THIS
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- Third Container (Grid) -->
    
    <div class="container-fluid bg-2 text-center" id="upcomingevents" data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
        <h1 class="margin">Upcoming Events</h1><br>
        <div class="row">
            <div>
                <p>July 17th, 2017: Farrell FOP Steak Fry</p>
                <p>August 12th, 2017: Lakeland FOP Steak Fry</p>
                <p>August 19th, 2017: Hermitage Fire Department Gun Raffle </p>
                <p>August 28th, 2017: Hermitage FOP Steak Fry</p>
                <p>September 4th, 2017: Buhl Day</p>
                <p>October 10th, 2017: Last Day to Register to vote!</p>
                <p>October 31st, 2017: Last Day to Apply for Civilian Absentee Ballot</p>
                <p>November 3rd, 2017: Last Day for County to Receive Voted Civilian Absentee Ballotts</p>
                <p>Novemeber 7th, 2017: Municipal Election! </p>
            </div>

        </div>
    </div>
    <!--data-aos="zoom-up"-->
    <div class="container-fluid bg-3 text-center" id="contactme">
        
        <div class="container" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Contact Us</h1>
                    <p class="lead">We would love to hear your feedback, questions or concerns! <br> If you would like to volunteer, host a yard sign, or help up with campaign ideas, please mention this in your email!</p>
                    <form id="contact-form" method="post" action="contact.php" role="form">
                        <div class="messages"></div>
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_name">Firstname *</label>
                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_lastname">Lastname *</label>
                                        <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_email">Email *</label>
                                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_phone">Phone</label>
                                        <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_message">Message *</label>
                                        <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-success btn-send submit-btn" value="Send message">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-muted"><strong>*</strong> These fields are required. </p>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
                <!-- /.8 -->

            </div>
            <!-- /.row-->

        </div>
        <!-- /.container-->

    </div>
    
    <div class="container-fluid bg-2 text-center" id="donate" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
        <div class="container">
            <div class="row">
                <div class="paymentCont">
                    <div class="headingWrap">
                        <h1 class="headingTop text-center">Select Your Donation Method</h1>
                        <p class="text-center">Your donation is very much appreciated!</p>
                    </div>
                    <div class="paymentWrap">
                        <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                            <label class="btn paymentMethod">
					            	<div class="method visa"></div>
					                <input type="radio" name="options" checked> 
					        </label>
                            <label class="btn paymentMethod">
					            	<div class="method master-card"></div>
					                <input type="radio" name="options"> 
					            </label>
                            <label class="btn paymentMethod">
				            		<div class="method amex"></div>
					                <input type="radio" name="options">
					            </label>
                            <label class="btn paymentMethod">
				             		<div class="method vishwa"></div>
					                <input type="radio" name="options"> 
					            </label>
                            <label class="btn paymentMethod">
				             		<div class="method paypal"></div>
					                <input type="radio" name="options"> 
					            </label>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer class="container-fluid bg-4 text-center" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
        <p>Site developed by <a href="http://hozaifaabdalla.com/" target="_blank">Hozaifa Abdalla</a> and Morgan Atterholt</p>
    </footer>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script type="text/javascript" src="../js/morgi.js"></script>
</body>

</html>
